.App {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.panel__box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.panel__boxChart{
  display: flex;
    width: 90%;
}

p.panel__boxTitle {
  font-weight: bold;
}

p.app__title {
  font-size: xxx-large;
  font-weight: bold;
}